
.vs
bin/
obj/
packages/
Unisign-cache/
/!_Installer/Setup/UniSign_setup_1.1.0_allCPU.exe
/UniSign/Obfuscation/utility.dll
/!_Installer/Unisign_beta-cache
/!_Installer/Setup
/!_Installer/Unisign_beta_no_prereqs-cache
